{% extends 'layout.html' %}

{% block header %}
<title>Contact Us</title>
<link rel="stylesheet" href="{{ url_for('static', filename='Css/contact.css') }}">
{% endblock header %}

{% block body %}
<!-- Making contact section -->
<section id="contact-us">
    <div id="container">
        <h1 class="h-primary">Contact Us</h1>
        <form id="contact-form">
            <input type="text" name="name" id="name" placeholder="Enter your name" class="input-elements">
            <input type="email" name="email" id="email" placeholder="Enter you email" class="input-elements">
            <input type="phone" name="number" id="number" placeholder="Enter your number" class="input-elements">
            <textarea name="query" id="query" cols="30" rows="10" placeholder="Enter your message" class="input-elements"></textarea>
            <button type="submit" id="btn" class="input-elements">Submit</button>
        </form>
    </div>
</section>
{% endblock body %}