<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/mobile.css') }}" media="only screen and (max-width: 1287px)">
    <link rel="shortcut icon" href="static/Images/dLogo.png" type="image/x-icon">
    {% block header %}
    
    {% endblock header %}
</head>
<body onresize="resizing()">
    <!-- Making navbar -->
    <nav id="navbar">
        
    </nav>

    {% block body %}
        
    {% endblock body %}

    <footer>
        Copyright © www.myTunes.com 2020 - 2021 | All rights reserved
    </footer>
    <script src="{{ url_for('static', filename='Javascript/script.js') }}"></script>
</body>
</html>